In [1]:
!wget https://corgis-edu.github.io/corgis/datasets/csv/broadway/broadway.csv

--2023-10-14 16:40:21--  https://corgis-edu.github.io/corgis/datasets/csv/broadway/broadway.csv
Resolving corgis-edu.github.io (corgis-edu.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to corgis-edu.github.io (corgis-edu.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3094890 (3.0M) [text/csv]
Saving to: ‘broadway.csv’

broadway.csv        100%[===================>]   2.95M  --.-KB/s    in 0.06s

2023-10-14 16:40:21 (51.4 MB/s) - ‘broadway.csv’ saved [3094890/3094890]

# Broadway
- Imprimir: ¿Qué columnas tiene?
- ¿Qué obras diferentes se presentaron?
- ¿Cuántas obras diferentes se presentaron?
- Genera un DataFrame sólo con las obras de Mary Poppins
- ¿En cuántos teatros se ha presentado Mary Poppins en Broadway?
- ¿Qué obras se han presentado en más de un teatro?

Para la obra de Mary Poppins:
- Para cada semana, calcular el valor promedio por boleto

Para cada teatro:
- Calcular la capacidad máxima del teatro

Para todos los teatros:
- ¿Cuál es el teatro con el nombre más largo?
- ¿Cuál es la obra con más palabras en su título?

In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
df = pd.read_csv("https://corgis-edu.github.io/corgis/datasets/csv/broadway/broadway.csv")
df.head()

   Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
0        26  8/26/1990  ...                           0                        8
1        24  3/24/1991  ...                           0                        0
2        31  3/31/1991  ...                           0                        0
3         7   4/7/1991  ...                           0                        0
4        14  4/14/1991  ...                           0                        4

[5 rows x 12 columns]

In [6]:
#¿Cuántas columnas tiene?
print(df.columns)

Index(['Date.Day', 'Date.Full', 'Date.Month', 'Date.Year', 'Show.Name',
       'Show.Theatre', 'Show.Type', 'Statistics.Attendance',
       'Statistics.Capacity', 'Statistics.Gross', 'Statistics.Gross Potential',
       'Statistics.Performances'],
      dtype='object')

In [8]:
# ¿Cuáles obras hay?
df.loc[:, "Show.Name"].unique()

array(['Tru', 'Miss Saigon', 'A Streetcar Named Desire 92',
       'The Sisters Rosensweig', 'Beauty And The Beast',
       'A Little More Magic', 'Broken Glass', 'Show Boat',
       'Sunset Boulevard', 'The Shadow Box', 'Uncle Vanya',
       "Smokey Joe'S Cafe", 'Having Our Say', 'Hamlet 95',
       'The Rose Tattoo', 'A Month In The Country', 'Arcadia', 'Cats',
       'Chronicle Of A Death Foretold',
       'How To Succeed In Business Without Really Trying',
       'Indiscretions', 'Jackie Mason:  Politically Incorrect',
       'Kiss Of The Spider Woman', 'Les Miserables',
       'Love! Valour! Compassion!', 'Tommy', 'Buttons On Broadway',
       "The Play'S The Thing", 'Company 95', 'Moon Over Buffalo',
       'Garden District', 'Patti Lupone On Broadway', 'Victor/Victoria',
       'Hello, Dolly!', 'The Tempest', 'Master Class', 'Sacrilege',
       'Danny Gans On Broadway', 'Holiday', 'School For Scandal',
       'Defending The Caveman', 'Grease', 'Bus Stop',
       'A Funny Thing Happened On The Way To The Forum',
       "A Midsummer Night'S Dream", 'Love Thy Neighbor',
       'A Delicate Balance', 'Big', 'Bring In Da Noise, Bring In Da Funk',
       'Buried Child', 'An Ideal Husband', 'Rent', 'Seven Guitars',
       'State Fair', 'Tartuffe 96', 'The King And I 96',
       'The Phantom Of The Opera', 'A Thousand Clowns', 'Hughie',
       'Summer And Smoke', 'Sex And Longing', 'Skylight', 'Taking Sides',
       'Chicago', 'Present Laughter', "It'S A Slippery Slope",
       'The Rehearsal', 'God Said "Ha"', 'Juan Darien',
       'Once Upon A Mattress', 'Dreams And Nightmares', 'Three Sisters',
       'Men Are From Mars, Women Are From Venus', 'Stanley',
       'The Last Night Of Ballyhoo', 'Mandy Patinkin', 'Play On!',
       'Annie', 'Barrymore', 'Dream: The Johnny Mercer Musical',
       'The Young Man From Atlanta', 'An American Daughter',
       'Jekyll & Hyde', "A Doll'S House", 'Steel Pier', 'Titanic',
       'The Gin Game', 'The Little Foxes', 'The Life', 'Candide',
       'London Assurance', 'King David', "Forever Tango '97", '1776',
       'Side Show', 'Triumph Of Love', 'Jackie: An American Life',
       'The Scarlet Pimpernel', 'The Lion King', 'Ivanov', 'Proposals',
       'Street Corner Symphony', 'The Cherry Orchard',
       'The Old Neighborhood', 'Eugene Onegin', 'The Diary Of Anne Frank',
       'A View From The Bridge', 'The Sunshine Boys', 'The Capeman',
       'Ragtime', 'Patti Labelle On Broadway', 'Freak',
       'The Sound Of Music', 'Art', 'Cabaret 98', 'Ah, Wilderness',
       'The Deep Blue Sea', 'Golden Child', 'The Chairs',
       'The Herbal Bed', 'Wait Until Dark', 'High Society', 'Honour',
       'The Beauty Queen Of Leenane', 'The Judas Kiss', 'Side Man',
       'Twelfth Night', 'An Evening With Jerry Herman', 'Jerry Seinfeld',
       'Colin Quinn - An Irish Wake', 'Swan Lake',
       'More To Love: A Big Fat Comedy', 'Footloose',
       'Getting And Spending', 'Little Me',
       'Mandy Patinkin In Concert: Mamaloshen', "A Mom'S Life",
       'Aznavour', "I'M Still Here...Damn It!", 'On The Town', 'Parade',
       'Electra', "Fool Moon '98", 'Peter Pan 98', 'The Blue Room',
       'Fosse', 'Death Of A Salesman 99',
       "You'Re A Good Man, Charlie Brown", 'Annie Get Your Gun',
       'Night Must Fall', 'Not About Nightingales', 'Band In Berlin',
       'The Lion In Winter', 'Via Dolorosa', 'Closer', 'The Civil War',
       'The Weir', "Amy'S View", 'Marlene', 'Ring Round The Moon',
       "The Gershwins' Fascinating Rhythm", 'The Iceman Cometh 99',
       "It Ain'T Nothin' But The Blues", 'The Lonesome West',
       'Voices In The Dark', 'Kat And The Kings', 'Epic Proportions',
       'Dame Edna: The Royal Tour', 'Saturday Night Fever',
       'The Rainmaker', 'Kiss Me, Kate', 'Marie Christine',
       'Morning, Noon And Night', 'Putting It Together', 'The Price 99',
       'Swing!', "Tango Argentino '99",
       'Jackie Mason: Much Ado About Everything', 'Minnelli On Minnelli',
       'Waiting In The Wings', 'Amadeus', "James Joyce'S The Dead",
       'Wrong Mountain', 'Squonk', 'True West', 'Aida', 'Contact',
       'Riverdance', 'The Wild Party', 'A Moon For The Misbegotten 00',
       'Copenhagen', 'Jesus Christ Superstar', 'Taller Than A Dwarf',
       'The Ride Down Mt. Morgan', 'Rose', 'The Green Bird',
       "The Real Thing '00", 'The Music Man', 'Uncle Vanya 00',
       'Dirty Blonde', 'Macbeth 00', 'The Man Who Came To Dinner',
       "Gore Vidal'S The Best Man", 'The Full Monty', 'The Dinner Party',
       'Matters Of The Heart', 'Proof',
       "The Tale Of The Allergist'S Wife", 'Betrayal',
       'The Rocky Horror Show', 'Seussical', 'Jane Eyre',
       'The Search For Signs Of Intelligent Life In The Universe 00',
       'A Class Act', 'Design For Living 01', 'Judgment At Nuremberg',
       'The Invention Of Love', 'Follies', 'Bells Are Ringing',
       "One Flew Over The Cuckoo'S Nest", 'Stones In His Pockets',
       'The Producers', 'The Adventures Of Tom Sawyer', 'Blast!',
       "42Nd Street '01", 'King Hedley Ii', 'The Gathering',
       'George Gershwin Alone', 'Major Barbara', 'A Thousand Clowns 01',
       "If You Ever Leave Me…I'M Going With You", 'Urinetown',
       'Dance Of Death', 'Hedda Gabler 01', 'Thou Shalt Not',
       'Mamma Mia!', "Sexaholix '01", 'The Women',
       '45 Seconds From Broadway', 'By Jeeves', "Noises Off '01", 'Qed',
       "A Christmas Carol '01", 'Barbara Cook: Mostly Sondheim',
       'An Almost Holy Picture', 'Bea Arthur On Broadway',
       'Elaine Stritch At Liberty', 'The Crucible 02',
       'The Goat, Or Who Is Sylvia?', 'Metamorphoses', 'Oklahoma!',
       "One Mo' Time", 'Sweet Smell Of Success', "Fortune'S Fool",
       'The Smell Of The Kill', 'The Graduate', 'Topdog / Underdog',
       'Thoroughly Modern Millie', "Morning'S At Seven",
       'The Elephant Man', "Into The Woods '02", 'Private Lives 02',
       'The Man Who Had All The Luck', 'The Mystery Of Charles Dickens',
       "I'M Not Rappaport '02", 'Hairspray',
       'Frankie And Johnny In The Claire De Lune',
       'The Boys From Syracuse', 'Amour', 'Say Goodnight, Gracie',
       'Flower Drum Song', "Movin' Out", 'Hollywood Arms', 'Prune Danish',
       'Dance Of The Vampires', 'Def Poetry Jam', 'Dinner At Eight',
       'Man Of La Mancha 02', 'Our Town 02', 'Imaginary Friends',
       'La Bohème', 'Medea 02', 'Tartuffe 03',
       "Ma Rainey'S Black Bottom '03", 'Take Me Out',
       'Vincent In Brixton', 'As Long As We Both Shall Laugh',
       'Urban Cowboy', 'The Play What I Wrote',
       'A Day In The Death Of Joe Egg', 'Life X 3', 'Nine',
       'A Year With Frog And Toad', "Gypsy '03", 'The Look Of Love',
       'Enchanted April', 'Salome', "Long Day'S Journey Into Night 03",
       'Bill Maher: Victory Begins At Home', 'Master Harold…And The Boys',
       "Big River '03", 'Avenue Q', 'Little Shop Of Horrors',
       'The Boy From Oz', "Golda'S Balcony", 'The Retreat From Moscow',
       'Cat On A Hot Tin Roof 03', 'Six Dance Lessons In Six Weeks',
       'Wicked', 'The Violet Hour', "Jackie Mason'S Laughing Room Only",
       'The Caretaker 03', 'Henry Iv', 'Never Gonna Dance',
       'Oldest Living Confederate Widow Tells All', 'Taboo',
       'Anna In The Tropics', 'Bobbi Boland', 'Wonderful Town',
       'I Am My Own Wife', "Sexaholix '03", 'Fiddler On The Roof 04',
       'Drowning Crow', 'King Lear', 'Twentieth Century', 'Match',
       'Sly Fox', "Barbara Cook'S Broadway", 'Sixteen Wounded',
       'A Raisin In The Sun', 'Assassins', 'Bombay Dreams', 'Jumpers',
       'Caroline, Or Change', 'Prymate', 'Frozen', 'Sight Unseen',
       "Marc Salem'S Mind Games", 'After The Fall', 'The Frogs',
       "Forever Tango '04", 'Dracula, The Musical', 'Brooklyn',
       'Reckless', 'Twelve Angry Men', 'Laugh Whore', 'The Good Body',
       "'Night Mother", 'Dame Edna:  Back With A Vengeance', 'Democracy',
       'Whoopi', '700 Sundays', "La Cage Aux Folles '04",
       'Pacific Overtures', 'Gem Of The Ocean', 'The Rivals',
       'Little Women', 'Good Vibrations', 'Brooklyn Boy',
       'Dirty Rotten Scoundrels', 'All Shook Up',
       "Monty Python'S Spamalot", 'The Glass Menagerie 05', 'Doubt',
       'Jackie Mason:  Freshly Squeezed', 'Julius Caesar',
       "Who'S Afraid Of Virginia Woolf?", 'Steel Magnolias',
       'The Light In The Piazza', 'A Streetcar Named Desire 05',
       'Chitty Chitty Bang Bang', 'On Golden Pond', 'The Pillowman',
       "Glengarry Glen Ross '05", 'Sweet Charity 05',
       'The 25Th Annual Putnam County Spelling Bee',
       'After The Night And The Music', 'Love / Life',
       'The Constant Wife', 'Mark Twain Tonight!', 'Lennon', 'Primo',
       'The Blonde In The Thunderbird', 'A Naked Girl On The Appian Way',
       'Latinologues', 'Absurd Person Singular', 'In My Life',
       'Jersey Boys', 'Sweeney Todd 05', 'The Odd Couple 05', 'Seascape',
       'Souvenir', 'The Woman In White', 'The Color Purple',
       'A Touch Of The Poet', "Chita Rivera: The Dancer'S Life",
       'Bridge And Tunnel', 'Rabbit Hole', 'The Pajama Game',
       'Barefoot In The Park', 'Ring Of Fire', 'Well', 'Awake And Sing!',
       'Festen', 'Lestat', 'Tarzan', 'The Threepenny Opera',
       'The Wedding Singer', 'Three Days Of Rain', 'The Drowsy Chaperone',
       'The Caine Mutiny Court-Martial', 'The History Boys',
       'Faith Healer', 'Hot Feet', 'Shining City',
       'The Lieutenant Of Inishmore', 'Martin Short: Fame Becomes Me',
       'Kiki & Herb: Alive On Broadway', 'Heartbreak House',
       'Jay Johnson: The Two And Only', 'Losing Louie',
       "A Chorus Line '06", "The Times They Are A-Changin'", 'Butley',
       'Grey Gardens', 'Mary Poppins', 'The Coast Of Utopia',
       "Dr. Seuss' How The Grinch Stole Christmas!",
       'Les Miserables 2006', 'The Little Dog Laughed', 'Company 06',
       'The Vertical Hour', 'Spring Awakening', 'High Fidelity',
       'The Apple Tree', 'Translations 06', "Journey'S End",
       'Prelude To A Kiss 2007', 'Talk Radio', 'Curtains',
       'The Pirate Queen', 'The Year Of Magical Thinking',
       'Inherit The Wind 07', 'A Moon For The Misbegotten 07',
       'Frost/Nixon', 'Legally Blonde', 'Deuce', 'Lovemusik',
       '110 In The Shade', 'Coram Boy', 'Radio Golf', 'Xanadu',
       'Old Acquaintance', 'Grease 07', 'Mauritius', 'The Ritz',
       'Pygmalion 07', 'A Bronx Tale', 'Cyrano De Bergerac',
       'Young Frankenstein', "Rock 'N' Roll", 'The Farnsworth Invention',
       'August: Osage County', 'Cymbeline',
       "Dr. Seuss' How The Grinch Stole Christmas! 07",
       'The Little Mermaid', 'The Seafarer', 'Is He Dead?',
       'The Homecoming 07', 'November', 'Come Back, Little Sheba',
       'The 39 Steps', "Sunday In The Park With George '08",
       'Passing Strange', 'Cat On A Hot Tin Roof 08', 'In The Heights',
       'South Pacific', "Gypsy '08", 'Cry Baby', 'A Catered Affair',
       'Macbeth 08', 'The Country Girl', 'Les Liaisons Dangereuses 08',
       'Thurgood', 'Boeing-Boeing', 'Top Girls', 'Glory Days',
       'Cirque Dreams: Jungle Fantasy', 'Title Of Show',
       'A Tale Of Two Cities', 'Equus', 'A Man For All Seasons',
       'All My Sons 08', 'The Seagull 08', 'To Be Or Not To Be', '13',
       'Billy Elliot: The Musical', "Speed The Plow '08",
       'Dividing The Estate', 'American Buffalo', 'Shrek The Musical',
       "Irving Berlin'S White Christmas", 'Pal Joey',
       "Liza'S At The Palace", "Slava'S Snowshow", 'The American Plan',
       'Hedda Gabler 09', 'Soul Of Shaolin',
       "You'Re Welcome America. A Final Night With George W. Bush",
       "Guys And Dolls '09", 'The Story Of My Life', '33 Variations',
       "Blithe Spirit '09", 'God Of Carnage', 'Impressionism',
       'West Side Story', 'Exit The King', 'Hair', "Irena'S Vow",
       'Reasons To Be Pretty', "Joe Turner'S Come And Gone '09",
       'Rock Of Ages', 'Next To Normal', 'Mary Stuart',
       'Waiting For Godot', '9 To 5', 'Accent On Youth',
       'The Norman Conquests', 'The Philanthropist',
       'Desire Under The Elms', 'Burn The Floor', 'A Steady Rain',
       'Bye Bye Birdie', "Hamlet '09", 'After Miss Julie',
       'Superior Donuts', 'The Royal Family', 'Memphis',
       'Wishful Drinking', "Brighton Beach Memoirs '09", 'Oleanna',
       "Finian'S Rainbow", 'Fela!',
       'In The Next Room Or The Vibrator Play', "Ragtime '09",
       "Irving Berlin'S White Christmas '09", 'Race',
       'A Little Night Music', "A View From The Bridge '10",
       "Present Laughter '10", 'Time Stands Still', 'The Miracle Worker',
       'Looped', 'Next Fall', 'A Behanding In Spokane', 'All About Me',
       'Come Fly Away', "Lend Me A Tenor '10", 'Million Dollar Quartet',
       'Red', 'The Addams Family', 'Sondheim On Sondheim',
       'American Idiot', 'Promises, Promises', 'Collected Stories',
       'Enron', "La Cage Aux Folles '10", "Fences '10",
       'Everyday Rapture', "Harry Connick, Jr. '10",
       "Mrs. Warren'S Profession", 'Brief Encounter',
       'The Pitmen Painters', 'A Life In The Theatre',
       'Bloody Bloody Andrew Jackson', "La Bete '10", 'Lombardi',
       'Driving Miss Daisy', 'The Scottsboro Boys',
       'Women On The Verge Of A Nervous Breakdown', 'A Free Man Of Color',
       'Colin Quinn: Long Story Short',
       'Rain: A Tribute To The Beatles On Broadway',
       "The Merchant Of Venice '10", 'The Pee-Wee Herman Show', 'Elf',
       'Elling', 'Spider-Man Turn Off The Dark',
       'Donny & Marie: A Broadway Christmas',
       'The Importance Of Being Earnest', 'Good People',
       'That Championship Season', "Arcadia '11", 'Ghetto Klown',
       "How To Succeed In Business Without Really Trying '11",
       'The Book Of Mormon', 'Priscilla Queen Of The Desert',
       "Anything Goes '11", 'Bengal Tiger At The Bagdhad Zoo',
       'Catch Me If You Can', 'Kathy Griffin Wants A Tony',
       'The Motherf**Ker With The Hat', 'War Horse', "Baby It'S You!",
       'High', 'Sister Act', 'Wonderland', "Born Yesterday '11",
       'Jerusalem', 'The People In The Picture',
       "The House Of Blue Leaves '11", 'The Normal Heart',
       "Master Class '11", "Hair '11", "Follies '11", 'Man And Boy',
       'Relatively Speaking', 'The Mountaintop', 'Chinglish', 'Godspell',
       'Other Desert Cities', 'Venus In Fur',
       'Hugh Jackman, Back On Broadway', 'Seminar', 'Bonnie And Clyde',
       "Private Lives '11", 'Lysistrata Jones',
       'On A Clear Day You Can See Forever',
       'An Evening With Patti Lupone And Mandy Patinkin', 'Stick Fly',
       "Porgy And Bess '11", 'The Road To Mecca', 'Wit',
       "Death Of A Salesman '12", "Shatner'S World: We Just Live In It",
       "Jesus Christ Superstar '12", 'Once',
       "Gore Vidal'S The Best Man '12", 'Evita', 'Ghost', 'Newsies',
       'End Of The Rainbow', 'Magic/Bird', 'Clybourne Park',
       "Don'T Dress For Dinner", 'Nice Work If You Can Get It',
       'Peter And The Starcatcher', "A Streetcar Named Desire '12",
       'Leap Of Faith', 'One Man, Two Guvnors', 'The Columnist',
       'The Lyons', 'Harvey', 'Bring It On The Musical', "Fela! '12",
       'Mike Tyson: Undisputed Truth', 'Chaplin',
       'An Enemy Of The People', "Cyrano De Bergerac '12", 'Grace',
       "Who'S Afraid Of Virginia Woolf? '12", "Annie '12",
       "The Heiress '12", 'Running On Empty', 'Scandalous',
       'Frankie Valli And The Four Seasons On Broadway',
       "Glengarry Glen Ross '12", "The Mystery Of Edwin Drood '12",
       'The Performers', 'Dead Accounts', "Elf '12", 'Golden Boy',
       'A Christmas Story', 'The Anarchist', "Picnic '12",
       'The Other Place', "Cat On A Hot Tin Roof '12",
       'Manilow On Broadway', 'Cinderella', 'Ann', 'Hands On A Hardbody',
       'Kinky Boots', 'Lucky Guy', "Breakfast At Tiffany'S", 'Matilda',
       'Vanya And Sonia And Masha And Spike', 'Motown The Musical',
       'Pippin', 'The Assembled Parties', 'The Big Knife', 'The Nance',
       'Orphans', 'The Testament Of Mary', 'The Trip To Bountiful',
       "I'Ll Eat You Last: A Chat With Sue Mengers", "Jekyll & Hyde '13",
       "Macbeth '13", 'The Rascals: Once Upon A Dream', 'First Date',
       "Forever Tango '13", 'Let It Be', 'Soul Doctor',
       'Romeo And Juliet', 'Big Fish', "The Glass Menagerie '13",
       'A Night With Janis Joplin', 'The Winslow Boy', 'A Time To Kill',
       "Betrayal '13", 'The Snow Geese', 'After Midnight',
       'Twelfth Night/Richard Iii',
       "A Gentleman'S Guide To Love And Murder", "Macbeth '13 (Lct)",
       "No Man'S Land/Waiting For Godot", "700 Sundays '13",
       'Il Divo - A Musical Affair', 'Beautiful', 'Machinal',
       'Outside Mullingar', 'Bronx Bombers',
       'The Bridges Of Madison County', 'All The Way', 'Rocky',
       'Mothers And Sons', 'Aladdin', "Les Miserables '14",
       "A Raisin In The Sun '14", 'If/Then', 'Bullets Over Broadway',
       'The Realistic Joneses', 'Act One', "Cabaret '14",
       'Of Mice And Men', 'Hedwig And The Angry Inch',
       "Lady Day At Emerson'S Bar & Grill", 'Violet', 'Casa Valentina',
       'The Velocity Of Autumn', 'The Cripple Of Inishmaan',
       'Holler If Ya Hear Me', 'This Is Our Youth', "It'S Only A Play",
       "You Can'T Take It With You", 'Love Letters 2014',
       'The Country House',
       'The Curious Incident Of The Dog In The Night-Time',
       'On The Town 2014', 'Disgraced', 'The Last Ship',
       'The Real Thing 2014', 'A Delicate Balance 2014', 'Side Show 2014',
       'The River', 'The Elephant Man 2014', 'Honeymoon In Vegas',
       'The Illusionists - Witness The Impossible', 'Constellations',
       'The Temptations And The Four Tops On Broadway',
       'Fish In The Dark', 'On The Twentieth Century', 'The Audience',
       'The Heidi Chronicles 2015', 'An American In Paris',
       'Finding Neverland', 'Hand To God', 'Skylight 2015',
       'The King And I 2015', 'Gigi', 'It Shoulda Been You',
       'Wolf Hall Parts One & Two', 'Doctor Zhivago', 'Fun Home',
       'Something Rotten!', 'The Visit 2015', 'Airline Highway',
       'Living On Love', 'An Act Of God', 'Amazing Grace',
       'Penn & Teller On Broadway', 'Hamilton', 'Spring Awakening 2015',
       'Fool For Love', 'Old Times', 'Dames At Sea', 'The Gin Game 2015',
       'Sylvia', 'Thérèse Raquin', 'Allegiance', 'King Charles Iii',
       'On Your Feet!', 'A View From The Bridge 2015', 'China Doll',
       'Misery', 'Lord Of The Dance: Dangerous Games', 'School Of Rock',
       'The Color Purple 2015', 'Fiddler On The Roof 2015',
       'The Illusionists - Live On Broadway', 'Noises Off 2016',
       "Our Mother'S Brief Affair", 'The Humans', 'Blackbird',
       'Disaster!', 'Hughie 2016', 'She Loves Me 2016', 'Bright Star',
       'Eclipsed', 'The Crucible 2016', 'Shuffle Along',
       'American Psycho', 'The Father 2016', 'Waitress',
       'Fully Committed', "Long Day'S Journey Into Night 2016",
       'Tuck Everlasting', 'Paramour', 'An Act Of God 2016', 'Cats 2016',
       'Motown The Musical 2016'], dtype=object)

In [11]:
#Cuantas obras son
df.loc[:, "Show.Name"].drop_duplicates().count()

820

In [10]:
#Otra forma de medir obras
len(df.loc[:,"Show.Name"].unique())

820

In [12]:
#Otra forma de medir cuantas obras de obras
df.loc[:, "Show.Name"].nunique()

820

In [14]:
# DataFrame de Mary Poppins
dfMP = df[ df.loc[:, "Show.Name"]=="Mary Poppins" ]
dfMP.head()

       Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
16035        15  10/15/2006  ...                          93                        0
16061        22  10/22/2006  ...                          91                        0
16090        29  10/29/2006  ...                          89                        0
16121         5   11/5/2006  ...                          75                        0
16152        12  11/12/2006  ...                          77                        0

[5 rows x 12 columns]

In [16]:
# ¿En cuántos teatros se ha presentado Mary Poppins?

dfMP.loc[: , "Show.Theatre"]

16035    New Amsterdam
16061    New Amsterdam
16090    New Amsterdam
16121    New Amsterdam
16152    New Amsterdam
             ...
25711    New Amsterdam
25733    New Amsterdam
25755    New Amsterdam
25778    New Amsterdam
25803    New Amsterdam
Name: Show.Theatre, Length: 334, dtype: object

In [19]:
# ¿En cuántos teatros se ha presentado Mary Poppins en Broadway?
dfMP.loc[: , "Show.Theatre"].unique()

array(['New Amsterdam'], dtype=object)

In [21]:
# ¿En cuántos teatros se ha presentado Mary Poppins en Broadway?
dfMP.loc[: , "Show.Theatre"].nunique()

1

In [26]:
# ¿Qué obras se han presentado en más de un teatro?
for dff in df.groupby("Show.Theatre"):
    print(dff)

('Al Hirschfeld',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
11225        29  6/29/2003  ...                          61                        8
11248         6   7/6/2003  ...                          51                        8
11272        13  7/13/2003  ...                          49                        8
11296        20  7/20/2003  ...                          55                        8
11319        27  7/27/2003  ...                          54                        8
...         ...        ...  ...                         ...                      ...
31171        17  7/17/2016  ...                          52                        8
31201        24  7/24/2016  ...                          49                        8
31230        31  7/31/2016  ...                          51                        8
31256         7   8/7/2016  ...                          50                        8
31281        14  8/14/2016  ...                          50                        8

[570 rows x 12 columns])
('Ambassador',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
535          11  6/11/1995  ...                           9                        3
879          14  4/14/1996  ...                           0                        0
890          21  4/21/1996  ...                           0                        0
903          28  4/28/1996  ...                           0                        8
916           5   5/5/1996  ...                           0                        8
...         ...        ...  ...                         ...                      ...
31164        17  7/17/2016  ...                          59                        8
31194        24  7/24/2016  ...                          61                        8
31223        31  7/31/2016  ...                          63                        8
31250         7   8/7/2016  ...                          57                        8
31275        14  8/14/2016  ...                          60                        8

[963 rows x 12 columns])
('American Airlines',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
6801          2   7/2/2000  ...                          57                        0
6828          9   7/9/2000  ...                          65                        0
6855         16  7/16/2000  ...                          73                        0
6882         23  7/23/2000  ...                          64                        0
6909         30  7/30/2000  ...                          64                        5
...         ...        ...  ...                         ...                      ...
30944        29  5/29/2016  ...                          77                        7
30981         5   6/5/2016  ...                          74                        7
31016        12  6/12/2016  ...                          82                        6
31050        19  6/19/2016  ...                          84                        7
31083        26  6/26/2016  ...                          86                        7

[650 rows x 12 columns])
('August Wilson',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
14610        23  10/23/2005  ...                          52                        0
14636        30  10/30/2005  ...                          56                        0
14665         6   11/6/2005  ...                          56                        1
14696        13  11/13/2005  ...                          71                        8
14727        20  11/20/2005  ...                          74                        8
...         ...         ...  ...                         ...                      ...
31170        17   7/17/2016  ...                          47                        8
31200        24   7/24/2016  ...                          45                        8
31229        31   7/31/2016  ...                          48                        8
31255         7    8/7/2016  ...                          45                        8
31280        14   8/14/2016  ...                          46                        8

[563 rows x 12 columns])
('Belasco',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
233          20  3/20/1994  ...                          33                        3
237          27  3/27/1994  ...                          45                        8
241           3   4/3/1994  ...                          47                        8
459          16  4/16/1995  ...                          90                        0
466          23  4/23/1995  ...                          90                        0
...         ...        ...  ...                         ...                      ...
30859        15  5/15/2016  ...                          48                        8
30895        22  5/22/2016  ...                          49                        8
30932        29  5/29/2016  ...                          44                        8
30969         5   6/5/2016  ...                          46                        8
31004        12  6/12/2016  ...                          62                        8

[471 rows x 12 columns])
('Biltmore',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
11595        19  10/19/2003  ...                          62                        0
11623        26  10/26/2003  ...                          60                        0
11655         2   11/2/2003  ...                          56                        0
11689         9   11/9/2003  ...                          54                        6
11725        16  11/16/2003  ...                          62                        8
...         ...         ...  ...                         ...                      ...
18645         1    6/1/2008  ...                          47                        8
18680         8    6/8/2008  ...                          47                        8
18715        15   6/15/2008  ...                          51                        8
18751        22   6/22/2008  ...                          55                        8
18785        29   6/29/2008  ...                          51                        8

[167 rows x 12 columns])
('Booth',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
0            26  8/26/1990  ...                           0                        8
249          17  4/17/1994  ...                          37                        0
253          24  4/24/1994  ...                          40                        1
257           1   5/1/1994  ...                          47                        8
261           8   5/8/1994  ...                          50                        8
...         ...        ...  ...                         ...                      ...
31160        17  7/17/2016  ...                          41                        8
31190        24  7/24/2016  ...                          40                        7
31219        31  7/31/2016  ...                          38                        8
31246         7   8/7/2016  ...                          42                        7
31271        14  8/14/2016  ...                          38                        8

[726 rows x 12 columns])
('Broadhurst',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
523           4    6/4/1995  ...                          35                        8
685          15  10/15/1995  ...                          73                        0
695          22  10/22/1995  ...                          62                        0
707          29  10/29/1995  ...                          68                        0
720           5   11/5/1995  ...                          69                        6
...         ...         ...  ...                         ...                      ...
30815         1    5/1/2016  ...                          31                        7
30852         8    5/8/2016  ...                          25                        8
30888        15   5/15/2016  ...                          29                        8
30924        22   5/22/2016  ...                          29                        8
30961        29   5/29/2016  ...                          37                        8

[706 rows x 12 columns])
('Broadway',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
1            24  3/24/1991  ...                           0                        0
2            31  3/31/1991  ...                           0                        0
3             7   4/7/1991  ...                           0                        0
4            14  4/14/1991  ...                           0                        4
5            21  4/21/1991  ...                           0                        8
...         ...        ...  ...                         ...                      ...
31165        17  7/17/2016  ...                          47                        8
31195        24  7/24/2016  ...                          48                        8
31224        31  7/31/2016  ...                          43                        8
31251         7   8/7/2016  ...                          43                        8
31276        14  8/14/2016  ...                          42                        8

[1045 rows x 12 columns])
('Brooks Atkinson',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
891          21  4/21/1996  ...                           0                        0
904          28  4/28/1996  ...                           0                        0
917           5   5/5/1996  ...                           0                        8
930          12  5/12/1996  ...                           0                        8
943          19  5/19/1996  ...                           0                        8
...         ...        ...  ...                         ...                      ...
31187        17  7/17/2016  ...                         105                        8
31216        24  7/24/2016  ...                         105                        8
31243        31  7/31/2016  ...                         102                        8
31268         7   8/7/2016  ...                          98                        8
31294        14  8/14/2016  ...                          97                        8

[690 rows x 12 columns])
('Cadillac Winter Garden',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
9476         12   5/12/2002  ...                         101                        8
9510         19   5/19/2002  ...                         100                        8
9543         26   5/26/2002  ...                         101                        8
9575          2    6/2/2002  ...                         102                        8
9607          9    6/9/2002  ...                         103                        8
...         ...         ...  ...                         ...                      ...
16216        26  11/26/2006  ...                          96                        8
16247         3   12/3/2006  ...                          91                        8
16279        10  12/10/2006  ...                          94                        8
16311        17  12/17/2006  ...                          87                        8
16341        24  12/24/2006  ...                          85                        7

[242 rows x 12 columns])
('Circle In The Square',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
341           6   11/6/1994  ...                           0                        0
346          13  11/13/1994  ...                          37                        0
351          20  11/20/1994  ...                          30                        1
356          27  11/27/1994  ...                          34                        8
361           4   12/4/1994  ...                          33                        8
...         ...         ...  ...                         ...                      ...
31168        17   7/17/2016  ...                          46                        8
31198        24   7/24/2016  ...                          46                        8
31227        31   7/31/2016  ...                          49                        8
31253         7    8/7/2016  ...                          48                        8
31278        14   8/14/2016  ...                          48                        8

[639 rows x 12 columns])
('Cort',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
1336         15   9/15/1996  ...                           0                        0
1360         22   9/22/1996  ...                           0                        0
1383         29   9/29/1996  ...                           0                        0
1406          6   10/6/1996  ...                           0                        0
1430         13  10/13/1996  ...                           0                        6
...         ...         ...  ...                         ...                      ...
30933        29   5/29/2016  ...                          49                        8
30970         5    6/5/2016  ...                          48                        8
31005        12   6/12/2016  ...                          58                        8
31039        19   6/19/2016  ...                          60                        8
31073        26   6/26/2016  ...                          78                        8

[501 rows x 12 columns])
('Criterion',       Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
513          4   6/4/1995  ...                          79                        8
532         11  6/11/1995  ...                          82                        7
551         18  6/18/1995  ...                           0                        0
631          3   9/3/1995  ...                          73                        0
1016        16  6/16/1996  ...                           0                        0
...        ...        ...  ...                         ...                      ...
5044         2   5/2/1999  ...                          65                        8
5079         9   5/9/1999  ...                          52                        8
5113        16  5/16/1999  ...                          47                        8
5147        23  5/23/1999  ...                          53                        8
5181        30  5/30/1999  ...                          67                        8

[145 rows x 12 columns])
('Ethel Barrymore',        Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
53           22  3/22/1992  ...                          84                        0
55           29  3/29/1992  ...                          88                        0
57            5   4/5/1992  ...                          82                        0
59           12  4/12/1992  ...                          82                        1
61           19  4/19/1992  ...                          92                        8
...         ...        ...  ...                         ...                      ...
31183        17  7/17/2016  ...                          46                        8
31212        24  7/24/2016  ...                          51                        8
31240        31  7/31/2016  ...                          54                        8
31265         7   8/7/2016  ...                          55                        8
31290        14  8/14/2016  ...                          54                        8

[797 rows x 12 columns])
("Eugene O'Neill",        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
761           3   12/3/1995  ...                           0                        8
767          10  12/10/1995  ...                           0                        8
773          17  12/17/1995  ...                           0                        8
779          24  12/24/1995  ...                           0                        8
785          31  12/31/1995  ...                           0                        9
...         ...         ...  ...                         ...                      ...
31180        17   7/17/2016  ...                          98                        9
31210        24   7/24/2016  ...                         100                        8
31238        31   7/31/2016  ...                          97                        9
31263         7    8/7/2016  ...                          99                        8
31288        14   8/14/2016  ...                          97                        8

[878 rows x 12 columns])
('Ford Center',        Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
7886         15   4/15/2001  ...                          71                        0
7922         22   4/22/2001  ...                          74                        0
7959         29   4/29/2001  ...                          78                        0
7996          6    5/6/2001  ...                          76                        5
8033         13   5/13/2001  ...                          61                        8
...         ...         ...  ...                         ...                      ...
13255         5   12/5/2004  ...                          67                        8
13286        12  12/12/2004  ...                          76                        8
13318        19  12/19/2004  ...                          65                        8
13350        26  12/26/2004  ...                          71                        8
13380         2    1/2/2005  ...                         106                        8

[193 rows x 12 columns])
('Ford Center (Livent)',       Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
3054        28  12/28/1997  ...                         102                        0
3085         4    1/4/1998  ...                         101                        0
3115        11   1/11/1998  ...                          85                        0
3143        18   1/18/1998  ...                          78                        1
3172        25   1/25/1998  ...                          91                        8
...        ...         ...  ...                         ...                      ...
5933        19  12/19/1999  ...                          85                        8
5966        26  12/26/1999  ...                          75                        8
5999         2    1/2/2000  ...                          99                        8
6031         9    1/9/2000  ...                          94                        8
6059        16   1/16/2000  ...                         105                        8

[108 rows x 12 columns])
('Ford Center (Tcn)',       Date.Day  Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
6315        26  3/26/2000  ...                          79                        0
6347         2   4/2/2000  ...                          62                        0
6381         9   4/9/2000  ...                          63                        0
6418        16  4/16/2000  ...                          63                        1
6454        23  4/23/2000  ...                          83                        8
6490        30  4/30/2000  ...                          78                        8
6526         7   5/7/2000  ...                          58                        8

In [29]:
# ¿Qué obras se han presentado en más de un teatro?

dfGroup = df.groupby('Show.Name').count()['Show.Theatre']
dfGroup

Show.Name
'Night Mother                                                10
110 In The Shade                                             15
13                                                           14
1776                                                         44
33 Variations                                                15
                                                             ..
Xanadu                                                       71
You Can'T Take It With You                                   26
You'Re A Good Man, Charlie Brown                             21
You'Re Welcome America. A Final Night With George W. Bush     8
Young Frankenstein                                           65
Name: Show.Theatre, Length: 820, dtype: int64

In [32]:
#otra forma obras en mas de un teatro
for dff in df.groupby(["Show.Name"]):
    if dff[1]["Show.Theatre"].nunique()>1:
        display (dff[0], dff[1]["Show.Theatre"].unique())

<ipython-input-32-223e47260e49>:2: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for dff in df.groupby(["Show.Name"]):

'1776'

array(['Criterion', 'Gershwin'], dtype=object)

'A View From The Bridge'

array(['Criterion', 'Neil Simon'], dtype=object)

'August: Osage County'

array(['Imperial', 'Music Box'], dtype=object)

'Beauty And The Beast'

array(['Palace', 'Lunt-Fontanne'], dtype=object)

'Brooklyn'

array(['Plymouth', 'Schoenfeld'], dtype=object)

'Cabaret 98'

array(['Kit Kat Klub', "Studio 54 ('98)"], dtype=object)

'Chicago'

array(['Richard Rodgers', 'Shubert', 'Ambassador'], dtype=object)

'Defending The Caveman'

array(['Helen Hayes', 'Booth'], dtype=object)

"Forever Tango '97"

array(['Walter Kerr', 'Marquis'], dtype=object)

"Glengarry Glen Ross '05"

array(['Royale', 'Jacobs'], dtype=object)

"It Ain'T Nothin' But The Blues"

array(['Vivian Beaumont', 'Ambassador'], dtype=object)

"It'S Only A Play"

array(['Schoenfeld', 'Jacobs'], dtype=object)

'Jersey Boys'

array(['Virginia', 'August Wilson'], dtype=object)

'Mamma Mia!'

array(['Winter Garden', 'Cadillac Winter Garden', 'Broadhurst'],
      dtype=object)

'Man Of La Mancha 02'

array(['Martin Beck', 'Al Hirschfeld'], dtype=object)

'Night Must Fall'

array(['Lyceum', 'Helen Hayes'], dtype=object)

'Peter Pan 98'

array(['Marquis', 'Gershwin'], dtype=object)

'Rain: A Tribute To The Beatles On Broadway'

array(['Neil Simon', 'Brooks Atkinson'], dtype=object)

'Rock Of Ages'

array(['Brooks Atkinson', 'Helen Hayes'], dtype=object)

'Side Man'

array(['Criterion', 'Golden'], dtype=object)

'The 39 Steps'

array(['American Airlines', 'Cort', 'Helen Hayes'], dtype=object)

'The Humans'

array(['Helen Hayes', 'Schoenfeld'], dtype=object)

'The Lion King'

array(['New Amsterdam', 'Minskoff'], dtype=object)

'The Scarlet Pimpernel'

array(['Minskoff', 'Neil Simon'], dtype=object)

'Time Stands Still'

array(['Friedman', 'Cort'], dtype=object)

'Venus In Fur'

array(['Friedman', 'Lyceum'], dtype=object)

'Waiting In The Wings'

array(['Walter Kerr', "Eugene O'Neill"], dtype=object)

In [33]:
df[df.loc[:, "Show.Theatre"]=="New Amsterdam"]["Show.Name"].unique()

array(['King David', 'The Lion King', 'Mary Poppins', 'Aladdin'],
      dtype=object)

In [39]:
#Para la obra de Mary Poppins
# Para cada semana, calcular el valor promedio por boleto
dfMP["Boleto.Promedio"] = dfMP["Statistics.Gross"] / dfMP["Statistics.Attendance"]
dfMP[ ["Date.Full","Boleto.Promedio"] ]

<ipython-input-39-8f0fe37e120b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMP["Boleto.Promedio"] = dfMP["Statistics.Gross"] / dfMP["Statistics.Attendance"]

        Date.Full  Boleto.Promedio
16035  10/15/2006        88.755851
16061  10/22/2006        79.511494
16090  10/29/2006        81.292376
16121   11/5/2006        79.935585
16152  11/12/2006        78.029363
...           ...              ...
25711    2/3/2013        69.229378
25733   2/10/2013        68.452307
25755   2/17/2013        83.057405
25778   2/24/2013        75.831294
25803    3/3/2013        71.709572

[334 rows x 2 columns]

In [40]:
#Para la obra de Mary Poppins
#Maximo valor promedio por boleto
dfMP["Boleto.Promedio"] = dfMP["Statistics.Gross"] / dfMP["Statistics.Attendance"]
dfMP[ ["Date.Full","Boleto.Promedio"] ].max()

<ipython-input-40-417fbb21f2ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMP["Boleto.Promedio"] = dfMP["Statistics.Gross"] / dfMP["Statistics.Attendance"]

Date.Full           9/9/2012
Boleto.Promedio    110.55027
dtype: object

In [42]:
# Para cada teatro
# Calcular la capacidad máxima del teatro

df.groupby("Show.Theatre")["Statistics.Capacity"].max()

Show.Theatre
Al Hirschfeld             101
Ambassador                103
American Airlines         103
August Wilson             101
Belasco                   747
Biltmore                   98
Booth                     103
Broadhurst                115
Broadway                  101
Brooks Atkinson           101
Cadillac Winter Garden    102
Circle In The Square      277
Cort                      102
Criterion                 100
Ethel Barrymore           100
Eugene O'Neill            104
Ford Center               100
Ford Center (Livent)      100
Ford Center (Tcn)          98
Foxwoods                  106
Friedman                  100
Gershwin                  892
Golden                    104
Helen Hayes                99
Henry Miller              100
Henry Miller (Rndabt)     101
Hilton Theatre            127
Imperial                  107
Jacobs                    102
Kit Kat Klub              100
Longacre                  831
Lunt-Fontanne             104
Lyceum                    716
Lyric                     100
Majestic                  149
Marquis                   101
Martin Beck               100
Minskoff                  100
Music Box                 102
Nederlander               104
Neil Simon                102
New Amsterdam             103
Palace                    104
Plymouth                  101
Richard Rodgers           103
Royale                    101
Schoenfeld                102
Shubert                   102
St. James                 101
Stephen Sondheim          101
Studio 54                 104
Studio 54 ('98)           100
Virginia                  113
Vivian Beaumont           100
Walter Kerr               101
Winter Garden             102
Name: Statistics.Capacity, dtype: int64

In [56]:
# Para todos los teatros
# ¿Cuál es el teatro con el nombre más largo?
lista_teatros = df.groupby("Show.Theatre")["Statistics.Capacity"].max().index

#el max es de 22 caracteres, print
print(max( [(len(n), n) for n in lista_teatros] )) #mayores caracteres
print(max( [(len(n.split()), n) for n in lista_teatros] )) #menores caracteres

for nombre in df.groupby("Show.Theatre")["Show.Theatre"].max().index:
    print(nombre, len(nombre))

(22, 'Cadillac Winter Garden')
(4, 'Circle In The Square')
Al Hirschfeld 13
Ambassador 10
American Airlines 17
August Wilson 13
Belasco 7
Biltmore 8
Booth 5
Broadhurst 10
Broadway 8
Brooks Atkinson 15
Cadillac Winter Garden 22
Circle In The Square 20
Cort 4
Criterion 9
Ethel Barrymore 15
Eugene O'Neill 14
Ford Center 11
Ford Center (Livent) 20
Ford Center (Tcn) 17
Foxwoods 8
Friedman 8
Gershwin 8
Golden 6
Helen Hayes 11
Henry Miller 12
Henry Miller (Rndabt) 21
Hilton Theatre 14
Imperial 8
Jacobs 6
Kit Kat Klub 12
Longacre 8
Lunt-Fontanne 13
Lyceum 6
Lyric 5
Majestic 8
Marquis 7
Martin Beck 11
Minskoff 8
Music Box 9
Nederlander 11
Neil Simon 10
New Amsterdam 13
Palace 6
Plymouth 8
Richard Rodgers 15
Royale 6
Schoenfeld 10
Shubert 7
St. James 9
Stephen Sondheim 16
Studio 54 9
Studio 54 ('98) 15
Virginia 8
Vivian Beaumont 15
Walter Kerr 11
Winter Garden 13

In [45]:
# Otra forma
# El teatro con el nombre mas largo
df['Show.Theatre'].str.len().max()

#sort titulo que tenga 22 caracteres
df[df['Show.Theatre'].str.len() == 22]

       Date.Day   Date.Full  ...  Statistics.Gross Potential  Statistics.Performances
9476         12   5/12/2002  ...                         101                        8
9510         19   5/19/2002  ...                         100                        8
9543         26   5/26/2002  ...                         101                        8
9575          2    6/2/2002  ...                         102                        8
9607          9    6/9/2002  ...                         103                        8
...         ...         ...  ...                         ...                      ...
16216        26  11/26/2006  ...                          96                        8
16247         3   12/3/2006  ...                          91                        8
16279        10  12/10/2006  ...                          94                        8
16311        17  12/17/2006  ...                          87                        8
16341        24  12/24/2006  ...                          85                        7

[242 rows x 12 columns]

In [57]:
df[df['Show.Theatre'].str.len() == 22]['Show.Theatre']

9476     Cadillac Winter Garden
9510     Cadillac Winter Garden
9543     Cadillac Winter Garden
9575     Cadillac Winter Garden
9607     Cadillac Winter Garden
                  ...
16216    Cadillac Winter Garden
16247    Cadillac Winter Garden
16279    Cadillac Winter Garden
16311    Cadillac Winter Garden
16341    Cadillac Winter Garden
Name: Show.Theatre, Length: 242, dtype: object

In [60]:
max(df["Show.Theatre"].unique(), key = lambda x: len(x))

'Cadillac Winter Garden'

In [61]:
max(df['Show.Name'].unique(), key=lambda x: len(x.split()))

'The Search For Signs Of Intelligent Life In The Universe 00'